{% load pipeline %}
{% load staticfiles %}
{% load metron_tags %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Wayad &mdash; {% block head_title %}Base template{% endblock head_title %}</title>

    {% stylesheet 'bootstrap' %}
    {% stylesheet 'style' %}
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'register:profile' %}">Wayad</a>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        <h1>Base template</h1>
        {% endblock content %}
    </div>

    {% analytics %}
</body>
</html>
