{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans 'Profile' %}{% endblock %}

{% block content %}
<h1>My Profile</h1>

    <p>Howdy {{ user.get_full_name }}, here is some basic info:</p>

    <dl class="dl-horizontal">
        <dt>{% trans 'API Token' %}</dt>
        <dd>{{ user.get_or_create_token.key }}</dd>

        <dt>{% trans 'API Endpoint' %}</dt>
        <dd>{{ endpoint_url }}</dd>
    </dl>
{% endblock %}
