{% extends "base.html" %}

{% load i18n %}
{% load timeconv %}

{% block head_title %}{% trans 'Report' %}{% endblock %}

{% block content %}
    <h1>My Report</h1>

    Here is what you worked on last week:

    <table class="table table-striped">
        <tr>
            <th>Task</th>
            <th>Time spent</th>
        </tr>

        {% for task, time in tasks %}
            <tr>
                <td>{{ task }}</td>
                <td>{{ time | secs_to_human }}</td>
            </tr>
        {% endfor %}

        <tr>
            <td><strong>Total</strong></td>
            <td>{{ total | secs_to_human }}</td>
        </tr>
    </table>
{% endblock %}
